/* ____________MOBILE FIRST DESIGN_________________ */

/* COLORS 

blue900: #020659;
blue800: #020873;
blue700: #030A8C;
blue600: #21049D;
lightBlue: #2699FB;
lightestBlue: #0D8DFB;
black: #000000; */

/* GLOBAL STYLES */
html {
    background-color: #020659;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 834px;
    min-width: 375px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}

h1 {
    font-size: 1.25em;
}

h2 {
    color: #590242;
}

h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: 0.75em;
}

button {
    background-color: #590242;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    width: 10rem;
}

button:hover {
    cursor: pointer;
    background-color: #020659;
}

a:hover {
    cursor: pointer;
    background-color: #590242;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 53px;
    padding: 5px 10px 5px 30px;
    color: #fff;
    background-image: linear-gradient(to right, #2104D9, #000)
    
}

header h1 {
    text-transform: uppercase;
}

/* NAV */

nav {
    display: block;
}

nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    background-color: #030a8c;
    height: 45px;
    padding: 10px 0 10px 0;
    position: relative;
    top: -160px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 3rem;
}

nav img {
    padding-right: 0.5em;
    padding-top: 0.125em;
}

nav li {
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.smallCaps {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
}

.hidden {
    width: 60px;
}

/* HAMBURGER MENU */

label {
    cursor: pointer;
    display: inline-block;
    border: 1px solid pink;
    padding: 14px;
    position: relative;
    z-index: 2;
    top: 5px;
    left: 90px;
}

/* .hidden {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
} */

/* label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color 0.2s ease-out;
    width: 18px;
    border: 1px solid pink;
}

label span:before, label span:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~label:not(.steps) span::before, input:checked ~ label:not(.steps) span::after {
    top: 0;
} */




/* TRENDING SONGS */

#trendingSongs {
    margin: 0 auto;
    width: 97%;
    height: 24em;
    margin-left: 11px;
    color: #590242;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
}

#trendingSongs h2 {
    display: block;
    position: absolute;
    margin-top: 10px;
}

#trendingSongs img {
    position: relative;
    bottom: 50px;
}

.trending-button {
    position: relative;
    left: 2em;
    top: 1em;
}

.songInfo {
    display: block;
    background: lightgray;
    opacity: 70%;
    width: 311px;
    position: relative;
    top: 277px;
    z-index: 1;
}

.songInfo:hover {
    background-color: #590242;
    color: #fff;
    cursor: pointer;
}

.songTitle {
    padding-left: 1em;
    padding-top: 0.5em;
    display: block;
}

dl {
    display: flex;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

dt {
    font-style: italic;
}

dd {
    margin-left: 10px;
}

figure {
    position: relative;
    bottom: 270px;
    right: 35px;
}

#Aloma, #myRoad, #Papaya, #Smoothies, #successfulPerformance {
    width: 330px;
}

/* YOUR PLAYLISTS */

#your-playlist {
    padding-top: 1.5em;
    padding-left: 1em;
}

#yourPlaylists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #0d8dfb;
    padding: 10px 10px 20px 10px;
}

.playlistItem {
    display: block;
    padding-top: 8px;
    border-radius: 8px;
    width: 10rem;
    background-color: #2688fb;
    text-align: center;
    color: #fff;
}

.playlistItem p {
    font-size: 0.75rem;
    padding: 0 10px;
}

.playlist-button {
    position: relative;
    left: 2em;
    top: 1em;
}

.playlistItem:hover {
    background-color: #590242;
    cursor: pointer;
}

/* CURATED PLAYLISTS */

#curated-playlist {
    padding-top: 1.5em;
    padding-left: 1em;
}

#curatedPlaylists{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #030a8c;
    padding: 10px 10px 20px 10px;
}

.playlist-item {
    display: block;
    padding: 8px 3px 4px 3px;
    border-radius: 8px;
    width: 10rem;
    text-align: center;
    color: #fff;
    background-color: #020873;
}

.playlist-item:hover {
    cursor: pointer;
    background-color: #590242;
}

.playlist-item p {
    font-size: 0.75rem;
    padding: 0 10px;
}

.curated-button {
    position: relative;
    left: 2em;
    top: 1em;
}
/* FOOTER */

footer {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #590242;
    padding: 15px;
}

/* SCROLL BAR */

audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, 0.5);
}

#trendingSongs::-webkit-scrollbar {
    width: 15px;
}

#trendingSongs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trendingSongs::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trendingSongs::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#yourPlaylists::-webkit-scrollbar, #curatedPlaylists::-webkit-scrollbar {
    width: 15px;
}

#yourPlaylists::-webkit-scrollbar-track, #curatedPlaylists::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}

#yourPlaylists::-webkit-scrollbar-thumb, #curatedPlaylists::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#yourPlaylists::-webkit-scrollbar-thumb:hover, #curatedPlaylists::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 540px) {
    body {
        max-width: 375px;
    }
}

@media screen and (min-width: 541px) {

    body {
        width: 80vw;
    }

    nav ul {
        position: relative;
        top: -140px;
    }

    .trending-button {
        position: relative;
        left: 55%;
    }
}

@media screen and (max-width: 639px) {
    nav {
        position: relative;
        top: -35px;
    }
}

@media screen and (max-width: 759px) {
    .hidden {
        display: none;
    }
}

@media screen and (min-width: 760px) { /* expand nav, playlist columns */

    .hidden {
        display: block;
    }

    .trending-button {
        position: relative;
        left: 65%;
    }

    .grid {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        grid-auto-flow: column;
    }

    #your-playlist {
        grid-column: 1 / 2;
    }

    #yourPlaylists {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
    }

    .playlistItem {
        display: inline-block;
        width: 95%;
        padding: 10px;
    }

    .playlistItem img {
        float: left;
        padding-right: 5px;
    }

    .playlist-button {
        grid-column: 1 / 2;
        height: 3em;
    }

    #curated-playlist {
        grid-column: 2 / 3;
    }

    #curatedPlaylists {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
    }

    .playlist-item {
        display: inline-block;
        width: 100%;
    }

    .playlist-item img {
        float: left;
    }

    .curated-button {
        grid-column: 2 / 3;
        height: 3em;
    }    
}

@media screen and (max-width: 919px) {
    nav {
        position: relative;
        bottom: 15px;
    }
}